/*(Mini) Reset do CSS do navegador para evitar conflito de estilos entre navegadores. Você pode definir seus próprios resets. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

/*Estilos da página que sobrescreverão os resets anteriores*/
:root {
    --cor-primária:#EFE1D1;
    --cor-secundária:#A78295;
    --cor-teciária:#3F2E3E;
    --cor-quaternária:#430D27;
    --cor-de-fundo:#a09e8b;
    --font-secundária: Arial, Helvetica, sans-serif;
}

body {
    margin: 40px 50px;
    text-align: justify;
    background-color: var(--cor-de-fundo);
    font-family: var(--font-secundária);
}

.contido {
    width: 100px;
    box-shadow:#000 6px 8px 4px;
    height: 100px;
    background-color:#fa7900;
    border: 5px  solid #1a1515;
}

.container {
    height: 400px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    box-shadow: 5px 8px 8px #000;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
}

.container2 {
    height: 330px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-direction: column;
}

.container3 {
    height: 330px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-direction: column-reverse;
}

.container4 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-direction: row;
}

.container5 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-direction: row-reverse;
}

.container6 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: wrap;
}

.container7 {
    height: 300px;
    background-color: antiquewhite;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: nowrap;
}

.container8 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: wrap-reverse;
}

.container9 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-flow: row wrap;
}

.container10 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: center;
}

.container11 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: flex-start;
}

.container12 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: flex-end;
}

.container13 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: space-around;
}

.container14 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: space-between;
}

.container15 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    align-items: center;
}

.container16 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    align-items: flex-start;
}

.container17 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    align-items: flex-end;
}

.container18 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    align-items: stretch;
}

.container19 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    align-items: baseline;
}

.container20 {
    height: 500px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.container21 {
    height: 500px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.container22 {
    height: 400px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.container23 {
    height: 500px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    flex-wrap:wrap;
    display: flex;
    align-content: center;
}

.container24 {
    height: 500px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
}

.container25 {
    height: 500px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    flex-wrap: wrap;
    display: flex;
    align-content: flex-end;
}

.container26 {
    height: 300px;
    background-color: antiquewhite;
    box-shadow:#000 6px 8px 4px;
    border: 10px 5px solid #000; /*Equivalente á cor #000000 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-de-pagina {
    color:#000;
    text-align:center;
    text-shadow: #fffbfb 4px 4px 5px;
    line-height: 2;
    font-weight: bold;
    font-size: 50pt;
    font-family: var(--font-secundária);
}

.titulo-de-artigo{
    color:#837474;
    line-height: 3.5;
    text-shadow: #000 4px 4px 5px;
    font-weight:bold;
    font-size: 30pt;
    font-family: var(--font-secundaria);
    font-style:italic;
    margin-bottom: 10px;
    text-align: center;
}

.titulo-contido {
    color:#ebe0e0;
    line-height: 1.5;
    text-shadow: #000 4px 4px 5px;
    font-weight:bold;
    font-size: 20pt;
    font-family: var(--font-secundaria);
    font-style:italic;
    margin-bottom: 10px;
    text-align: center;
}
.rodape {
    color:#ebe0e0;
    line-height: 1.5;
    text-shadow: #000 4px 4px 5px;
    font-weight:bold;
    font-size: 20pt;
    font-family: var(--font-secundaria);
    font-style:italic;
    margin-bottom: 10px;
}

.titulo-de-secao {
    color:var(--cor-primária);
    line-height: 1.8;
    font-weight: bold;
    font-size: 25pt;
    font-family: var(--font-secundaria);
}

table, td, th {
    border: 2px solid black;
}
  
  table {
    border-collapse: collapse;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

p {
    color: var(--cor-secundaria);
    line-height: 1.2;
    font-style:italic;
    text-align:center;
    font-size: 18pt;
}

div.contido{
    color:#ebe0e0;
    line-height: 1.5;
    text-shadow: #000 4px 4px 5px;
    font-weight:bold;
    padding: 1.5%;
    font-size: 20pt;
    font-family: var(--font-secundaria);
    font-style:italic;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}  

.button2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0),0 17px 50px 0 rgb(0, 0, 0);
  }